<section class="container-fluid">
  <div class="row text-bg-dark">
    <div class="col-lg-4 col-12 d-flex align-items-center justify-content-center">
      <h1 class="p-3">Blog site</h1>
    </div>
    <div class="col-lg-8 col-12 p-5">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus felis sodales nibh porta suscipit. Proin sit amet est vitae leo scelerisque volutpat. Vivamus imperdiet, tellus eu fringilla pharetra, ante quam venenatis dolor, quis ultricies mi velit at arcu. Mauris laoreet, mi congue tempor convallis, turpis orci imperdiet turpis, in condimentum dolor nisi a eros. Ut tincidunt vehicula placerat. Aenean a lectus vel orci commodo rhoncus aliquet vitae nisl. Integer ut lacinia augue. Fusce non mattis eros, a luctus nibh. Nunc quis feugiat nunc.
      </p>
    </div>
  </div>
</section>
