<section class="container">
  <form>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="email" class="form-control" id="title" placeholder="Post title">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Post content</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
