<div *ngIf="articles" class="row">
  <div *ngFor="let article of articles" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">
        {{ article.content.length > 300 ? article.content.slice(0, 300) + '...' : article.content }}
      </p>
      <a routerLink="/article/{{article.id}}" class="card-link">View</a>
      <a routerLink="/edit-article/{{article.id}}" class="card-link">Edit</a>
    </div>
  </div>
</div>
